# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

#pointless build log files
platformer/x64/*
platformer/x32/*
platformer/platformer/*

#vs folder
platformer/.vs/*

#exclude build directories
platformer/platformer/*
platformer/build/*

#exclude external files (library zips etc)
platformer/ext/*